<% layout('layouts/boilerplate') %>
<section class="flex min-h-screen bg-gradient-to-b from-blue-300/15 to-teal-200/15">
  <%- include('../partials/sidebar', { currentPage: 'ai-matches' }) %>
  <div class="ml-64 w-full">
    <%- include('../partials/topbar', { title: 'AI Docs Scans' }) %>
    <main class="h-[82vh] p-6">

      
    </main>
    <%- include('../partials/footer') %>
  </div>
</section>